/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  p {
      color: white;
  }

  h2 {
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: x-large;
      background: grey;
      border-radius: 10px;
      margin: 0 350px 20px 350px;
  }

  h4 {
      color: white;
      font-weight: bold;
  }

  button {
      margin-top: 10px;
  }
  
  .searchBox{
    background-image: url("../img/hero.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 5%;
  }


  .hotels p {
    color: black;
  }

  .choice {
      padding-bottom: 15px;
  }

  .radio {
      color: white;
  }
  /* Style tab links */
  .tablink {
    background-color: white;
    color: black;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: lightgrey;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .hotels {
      background-color: white;
      border: 1px solid grey;
      border-radius: 10px;
      margin: 10px 0px;
  }
  /* .hide {
    visibility: hidden;
  }
   */
  /* #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;} */